numpy>=1.8.2
quantities>=0.10.1
scipy>=0.14.0
six
enum34; python_version < '3.4'

# Plotting module required for example scripts
matplotlib>=3.0.3

#
# The following are the three packages bundled in subdirectories of
# the code directory.
# Uncomment the lines below to install the packages rather than
# use these frozen budled packages in the code subdirectory. In addition
# you will need to make corresponding changes to the file
# load_local_neo_odml_elephant.py
#
# python-neo=0.7.1
# elephant=0.6.0
# odml=1.4.2
